
# --- Cœur de LangChain ---
langchain>=0.3.0
langchain-community>=0.3.0
langchain-huggingface>=0.1.0  # INDISPENSABLE pour les Embeddings
faiss-cpu>=1.7.4
sentence-transformers>=2.2.0
transformers>=4.30.0
pandas>=2.0.0
jq>=1.6.0
# --- Intelligence Artificielle (Local & Embeddings) ---
langchain-ollama         # INDISPENSABLE pour Phi-3.5  
torch==2.8.0

# --- Manipulation de données ---
numpy==2.0.2

# --- Utilitaires ---
python-dotenv==1.2.1
requests==2.32.5
tqdm==4.67.2

matplotlib
seaborn

